<div class="moviemovie">
  <% @movies.each do |movie| %>
  <div class="eachmovie">
        <%= image_tag movie.image_url(:thumb).to_s %>
    <div class="movie-text">
        <h2><%= link_to movie.title, movie_path(movie) %></h2>
        <p><%= movie.description %></p>
        <h4>Release Year: <%= movie.release_date %></h4>
        <h4>Director: <%= movie.director %></h4> 
    </div>
  </div>

  <% end %>
</div>

<!-- <div class="pagenumbers"> 
   paginate @movies  
     </div> -->
