<h1>this is views/admin/users/index.html.erb</h1>
<%= link_to "Create a user!", new_admin_user_path %>
<%= link_to "Back to movie list!", movies_path %>
<h2>here is a list of all users </h2>
<div>
  
  <%= paginate @users  %>

  <% @users.each do |user| %>
  <h2><%= link_to user.full_name, admin_user_path(user) %></h2>

  <h2><%= user.firstname %> (<%= link_to "edit", edit_admin_user_path(user) %>, <%= link_to "delete", admin_user_path(user), method: :delete, data: { confirm: "You sure?" } %>)</h2>

  <h2><%= link_to user.email, admin_user_path(user) %></h2>



  <% end %>

  <%=  "edit users:"  %>


</div>

   